.card {
    width: 20%;
    height: auto;
}


.pkmnCard {
    display: block;
    margin-top: 0;
    padding: 0;

    background-color: #3d3d3d;
    border-radius: .5em;
}

.pkmnImage {
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
}

.types {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeImg img {
    width: 80%;
    height: auto;
    padding-bottom: 5%;
}