#PokemonList {
    margin: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50em;
}

#PokemonList a {
    display: inline-block;
}

.pkmnListItemImage {
    width: 7em;
    height: 7em;
}