.titleName {
    color: #aaaaaa;
    font-size: 3em;
    text-align: left;
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: 5%;
}

.titleId {
    color: #aaaaaa;
    margin-left: auto;
    margin-right: .5em;
    position: relative;
    flex-direction: row;
}

.pkmnPageCard h4 {
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
    color: #aaa;
    display: flex;
}

.pkmnPageImage {
    width: 15em;
    height: 15em;
    margin-left: 2%;
}

.pkmnPagetypes {

    display: flex;
    align-items: flex-end;
}

.pkmnPagetypes img {
    width: 10em;
    padding: 5%;
    margin: 5%;
}


.pkmnStats {
    color: #aaaaaa;
    margin: 2%;
}

.pkmnStats h4 {
    color: #aaaaaa;
    text-align: left;
}

.pkmnInfos {
    display: flex;

}

.bodyInfos {
    display: flex;

}

.bodyInfos div {
    display: flex;
    align-items: baseline;
}

.bodyInfos h5 {
    color: #aaaaaa;
    margin-left: 2em;
    margin-right: .5em;
}

.bodyInfos p {
    color: #aaaaaa;
}

.statInfos {
    display: flex;
    align-items: baseline;
}

.statInfos div div {
    display: flex;
}

.statInfos h5 {
    color: #aaaaaa;
    margin-left: 2em;
    margin-right: .5em;
}


.pkmnPageDesc {
    width: 50%;
    color: #aaaaaa;
    display: block;
    text-align: left;
    margin: 2%;
}

.pkmnPageDesc h2 {
    color: #aaaaaa;
}

.pkmn_ev_types {
    margin-top: auto;
    margin-left: 5%;
    text-align: left;
    align-items: flex-end;
}

.evolutions {
    text-align: left;
    display: flex;
}

.pkmn_ev_types h4 {
    color: #aaaaaa;
}

.evols_images {
    width: 7em;
    height: 7em;
    margin: 5%;
}