.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #242424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* 
    Header 
*/
.Header {
  top: 0;
  position: sticky;

  display: block;
  width:100%;
}

.headerBar {
  background-color: #1a1a1a;
  text-align: center;
  border-bottom: 1px solid #3d3d3d;

  width:100%;

  display: flex;
  justify-content: center;
}

.searchBar{
  display: inline-flex;
  background-color: #242424;
  color: #aaaaaa;

  border: 1px solid #3d3d3d; 
  border-radius: 1em;

  width: 35%;
  margin-top: .5%;
  margin-bottom: .5%;
  
  justify-content: center;
  text-align: center;
}

/* Logo de recherche */
.searchLogo{
  background-color: #242424;
  color: #aaaaaa;
  font-size: 20px;
  width: 10%;
  border-radius: 1em;
  align-self: center;
  justify-self: center;
}

.searchBarInput{
  background-color: #242424;
  color: #aaaaaa;

  font-size: 15px;
  border-radius: 1em;

  height: 30px;
  width: 100%;
  border: none;
}

/* 
    Event sur la barre de recherche
*/

.searchBar:focus-within{
  border: 1px solid #e4e4e4;
}

.searchBarInput:focus{
  outline: none;
}